@model EventManagement.Domain.Contact
@using EventManagement.Domain
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Contact</h2>
@using (Html.BeginForm("Add", "Contacts", FormMethod.Post)) {
    <table>
        <tr>
            <td>@Html.TextBoxFor(c => c.FirstName, new { placeholder = "Enter First Name" }) </td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(c => c.LastName, new { placeholder = "Enter Last Name" }) </td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(c => c.MobileNumber, new { placeholder = "Enter Mobile Number" }) </td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(c => c.Address, new { placeholder = "Enter Address" }) </td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(c => c.City, new { placeholder = "Enter City" }) </td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(c => c.State, new { placeholder = "Enter State" }) </td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(c => c.Zipcode, new { placeholder = "Enter Zipcode" }) </td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(c => c.ReferredBy, new { placeholder = "Enter Reference" }) </td>
        </tr>
        <tr>
            <td>

                @Html.DropDownList("BloodType", ViewBag.BloodType as SelectList)

                @*@Html.DropDownListFor(x => x.BloodType, new SelectList(BloodType.ABPos, "Value", "Text"))*@

                @*@Html.EnumDropDownListFor(
                    x => x.BloodType,
                    "Select My Type",
                    new { @class = "form-control" })*@

                @*@Html.DropDownList("BloodType",
                    EnumHelper.GetSelectList(typeof(BloodType)),
                    "Select Blood Type",
                    new { @class = "form-control" })*@

            </td>
        </tr>
    </table>
}