@using System.Web.Mvc.Html;
@model EventManagement.Domain.Contact
@{
    ViewBag.Title = "ViewDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card contact-details">
        <div class="title">Contact Details</div>
        @Model.FirstName @Model.LastName<br />
        @Model.MobileNumber<br />
        @Model.Email<br />
        @Model.Address<br />
        @Model.City, @Model.State @Model.Zipcode<br />
        BloodType: @Model.BloodType
    </div>

    <div class="card events-signed-up-for">
        <div class="title">Events</div>

        @foreach (var item in Model.ContactEvents) {
            <span class="event-title">@item.Name</span>
            <span class="event-date">@item.EventDate.ToString("MM/dd/yyyy")</span>
            <span class="remove-event"><a href="/Contact/RemoveEvent?eventid=@item.EventId">Remove Event</a></span>
            <br />
        }
    </div>
</div>


